*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
height:100vh;
display:flex;
}

/* Estilos---nav---var */
.navegacion_vertical{
    display: flex;
    flex-direction: column;
    background-color: #F7F8FC;
    height:100%;
    border-right:solid 2px #EBECEF;
    align-items: center ;
}
.coronavirus_logo_nav{
    color:#6C76C2;
    height: 3.7rem;
    width:3.7rem;
    margin:0.5rem;
    margin-bottom: 1rem;
    margin-left:0.6rem;
}


.icons_nav svg{
    color:#6C76C2;
    height: 2.2rem;
    width:2.2rem;
    margin:0.5rem;
    padding:0.3rem;
    transition:1s;
}
.icons_nav{
    border-radius:10px;
    transition:0.5s;
}
.icons_nav:hover{
    background-color:#6C76C2;
    margin:0.2rem;
    transition:0.5s;
}
.icons_nav:hover svg{
    color:white;
}
/* terminan los estilos de la nav */

/* estilos data - general */
.data_general{
    background-color:rgb(255, 255, 255);
    height:100%;
    width:26rem;
    box-shadow: 0px 0px 1px 0px black;
}
.container_covid_global{
    height:24rem;
    width:100%;
    display: flex;
    text-align: left;
    flex-direction:column;  
    align-items: center;

    
}
.title_covid_global{
    margin:1rem;
    font-size: 2rem;
    font-weight: 800;
    width:90%;
    color:#2D3654;

}

.sty_cases{
    width:90%;
    height:4rem;
    margin:0.5rem;
    color:#665D8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition:0.3s;
}


.total_case:hover{
    border: solid 0.3rem #FF4B6E;
    transition:0.3s;
    width:92%;
}
.active_case:hover{
    border: solid 0.3rem #FF7311;
    transition:0.3s;
    width:92%;
}
.recovered_case:hover{
    border: solid 0.3rem #88C519;
    transition:0.3s;
    width:92%;
}
.deaths_case:hover{
    border: solid 0.3rem #3639AE;
    transition:0.3s;
    width:92%;
}

.sty_cases p{
    margin:0;
    margin:0.7rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.sty_cases h3{
    font-size: 1.2rem;
    font-weight: 700;
    margin:0.7rem;
}
.total_case{
    background-color:#FFF2F2;
}
.active_case{
    background-color:#FFF9F1;
}
.recovered_case{
    background-color:#EDFFEC;
}
.deaths_case{
    background-color:#EEFBFF;
}


.total_case p{
color:#FF4B6E;
}
.active_case p{
color:#FF7311;
}
.recovered_case p{
color:#88C519;
}
.deaths_case p{
color:#3639AE;
}
/* fin de la sección de los datos: total case, activate case, recovered case y deaths case */

/* estilos del top10 country */
.top10_contry{
    width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title_top10_country{
    width: 90%;
    margin:1rem;
    font-size: 1.35rem;
    color:#665D8D;
    font-weight: 700;
}



/* estilos de la sección:"filter" */

.filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #6C76C2;
}

.filter span{
    padding:0.5rem;
    margin:1rem;
}

.filter p{
    padding:0.5rem;
    margin:1rem;
}